[hyoo_notes_tags_page] ,
[hyoo_notes_tagging_page] {
	flex: 0 0 20rem;
}

[hyoo_notes_notes_page] {
	flex: 0 0 30rem;
}

[hyoo_notes_notes_page_add] {
	flex-wrap: nowrap;
	flex: auto;
}

[hyoo_notes_note_page] {
	flex: 1000 0 50rem;
}

[hyoo_notes_tags_page_body] {
	display: flex;
	flex-direction: column;
}

[hyoo_notes_tagging_page_body] {
	display: flex;
	flex-direction: column;
}

[hyoo_notes_tag_row] {
	display: flex;
	padding: .5rem;
}

[hyoo_notes_tag_row] > * {
	margin: .25rem;
}

[hyoo_notes_tag_icon] {
	margin: .5rem .25rem;
}

[hyoo_notes_tag_filter] {
	flex: 1 0 100%;
	align-self: stretch;
}

[hyoo_notes_tagging_filter] {
	flex: 1 0 100%;
	align-self: stretch;
}

[hyoo_notes_tag_list] {
	padding: .75rem;
}

[hyoo_notes_tagging_list] {
	padding: .75rem;
	flex: 1 0 auto;
}

[hyoo_notes_note_filter] {
	flex: 1 1 auto;
	align-self: stretch;
}

[hyoo_notes_notes_page_body] {
	display: flex;
	flex-direction: column;
}

[hyoo_notes_notes_list] {
	padding: .75rem;
	flex: 0 0 auto;
}

[hyoo_notes_note_add_hint] {
	display: flex;
	padding: 0 .75rem;
	justify-content: flex-end;
	align-items: center;
	color: var(--mol_theme_shade);
}

[hyoo_notes_note_page_body] {
	display: flex;
	flex-direction: column;
	padding: .75rem;
}

[hyoo_notes_note_row] {
	display: flex;
	padding: .5rem;
}

[hyoo_notes_note_row] > * {
	margin: .25rem;
}

[hyoo_notes_note_icon] {
	margin: .5rem .25rem;
}

[hyoo_notes_note_title] {
	flex-grow: 1;
}

[hyoo_notes_note_moment] {
	flex-shrink: 0;
}

[hyoo_notes_tagging_tag_row] {
	display: flex;
}

[hyoo_notes_tagging_tag_row] > * {
	margin: .25rem;
}

[hyoo_notes_tagging_tag_row_icon] {
	margin: .5rem .25rem;
}
