[hyoo_notes_placeholder] {
	flex: 1 1 300px;
}

[hyoo_notes_tags_page] {
	flex: 1 1 300px;
}

[hyoo_notes_tagging_page] {
	flex: 1 1 300px;
}

[hyoo_notes_tags_page_body] {
	display: flex;
	flex-direction: column;
}

[hyoo_notes_tagging_page_body] {
	display: flex;
	flex-direction: column;
}

[hyoo_notes_tag_row] {
	display: flex;
	flex-direction: column;
}

[hyoo_notes_tag_filter] {
	flex: 0 0 auto;
	align-self: stretch;
}

[hyoo_notes_tagging_filter] {
	flex: 0 0 auto;
	align-self: stretch;
}

[hyoo_notes_tag_list] {
	padding: .5rem;
}

[hyoo_notes_tagging_list] {
	padding: .5rem;
	flex: 1 0 auto;
}

[hyoo_notes_notes_page] {
	flex: 1 1 500px;
}

[hyoo_notes_note_filter] {
	flex: 0 0 auto;
	align-self: stretch;
}

[hyoo_notes_notes_page_body] {
	display: flex;
	flex-direction: column;
}

[hyoo_notes_notes_list] {
	padding: .5rem;
	flex: 1 0 auto;
}

[hyoo_notes_note_add] {
	padding: .5rem;
}

[hyoo_notes_note_add_hint] {
	display: flex;
	padding: 0 .5rem;
	justify-content: flex-end;
	align-items: center;
	color: var(--mol_theme_shade);
}

[hyoo_notes_note_page] {
	flex: 1 1 800px;
}

[hyoo_notes_note_page_body] {
	display: flex;
	flex-direction: column;
}

[hyoo_notes_note_row] {
	display: flex;
	flex-direction: column;
}

[hyoo_notes_tagging_tag_row] {
	display: flex;
}
